body {
  background-image: url('imgs/im1.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-attachment: fixed; 
  margin: 0;
}
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: contain;
}

.a1{
  width: 80px;
}

header{
  padding: 0 10%;
  color:white;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0,0.4);
  margin-bottom: 40px;
}

.header__nav a {
  
  font-size: 20px;
  font-weight: 600;
}

.header__nav {
  display: flex;
  gap: 20px;
}

main{
  padding: 0 10%;
}
.hero{
  color:aliceblue;
 background-color: rgba(0, 0, 0,0.4);
  display: flex;
  padding:50px 20px ;
  align-items: center;
}
.hero__title{
  font-size: 62px;
}

.hero__btn {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;

}
.hero__text{
  margin-bottom: 40px;
 font-size: 20px;
}
.edge{
  color:white;
  
  font-size: 20px;
  font-weight: 600;
}


.card {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__items{
  padding: 20px;
  border: 3px solid white ;
  width:300px ;
  background-color:#1d511a;
 justify-content: center;
}
.edge__title{
  text-align: center;
}
